<footer>
    <div class="footer sticky-bottom">
    <div class="social">
        <i class="fa-brands fa-square-instagram"></i>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
    </div>
        <div class="company">
            <p>&copy; 2025 Airbnb, Inc.</p>
        </div>
        <div class="footerinfo">
          <a href="/privacy">privacy</a>
          <a href="/terms and condition">terms and condition</a>
    </div>
</footer>